.akm-no-padding {
  padding: 0 !important;
}

.form-border {
  border: 1px solid #ebeef5;
  padding: 12px 0;
  margin-bottom: 12px;
}

.akm-section-title {
  border-left: 4px solid #409eff;
  padding-left: 12px;
  margin: 12px 0;
  font-size: 18px;
  font-weight: bold;
  color: #303133;
}

.akm-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.akm-large-button {
  width: 120px;
  height: 40px;
}

.akm-table {
  .el-table__header thead {
    // 设置table表头字体颜色
    color: #777;
    th {
      // 设置table表头背景色
      background: #f5f5f5;
    }
    th.is-sortable {
      // 当表头存在排序按钮时，padding 0使表头高度不至于过高
      padding: 0;
    }
  }
  // 给表格操作列的按钮直接添加分割线
  .op-buttons {
    .cell {
      position: relative;
      padding: 0;
      > button {
        margin-left: 10px;
        position: relative;
        padding: 0 2px;
        &:after {
          content: '|';
          width: 1px;
          font-size: 1em;
          color: #dcdfe6;
          position: absolute;
          right: -5px;
          margin-top: -1px;
        }
        &:last-child:after {
          font-size: 0;
        }
      }
      > .el-dropdown {
        margin-left: 10px;
        position: relative;
        &:after {
          content: '|';
          width: 1px;
          font-size: 1em;
          color: #dcdfe6;
          position: absolute;
          right: -5px;
          margin-top: -1px;
        }
        &:last-child:after {
          font-size: 0;
        }
        > button {
          padding-top: 4px;
          i {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.el-form-item__content {
  .el-table {
    line-height: normal;
  }
}

.width2X .el-form-item__content {
  width: 480px;
}

.akm-form-warp {
  position: relative;
  .akm-form {
    overflow: hidden;
    // 使表单下的radio选项水平排列
    .el-radio-group {
      margin: 0;
      & > label {
        display: inline-block;
      }
      .el-radio__label {
        font-size: 14px;
      }
    }
  }
}

.akm-form.el-form--inline,
.akm-form-view.el-form--inline {
  .el-form-item__content {
    width: 180px;
    .el-date-editor {
      width: 100%;
    }
    .el-input-number--medium {
      width: 180px;
    }
  }
  // 表单labelWidth为110px，则width2X宽度为480px
  .width2X .el-form-item__content {
    width: 480px;
  }
  // 表单labelWidth为130px，则width2X宽度为500px
  .width2X-label130 .el-form-item__content {
    width: 500px;
  }
  // 表单labelWidth为150px，则width2X宽度为500px
  .width2X-label150 .el-form-item__content {
    width: 520px;
  }
}
