<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akm.springboot3.web.demo.mapper.DemoUserMapper">
  <resultMap id="BaseResultMap" type="com.akm.springboot3.web.demo.entity.DemoUser">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="realname" jdbcType="VARCHAR" property="realname"/>
    <result column="age" jdbcType="INTEGER" property="age"/>
    <result column="birthday" jdbcType="DATE" property="birthday"/>
    <result column="id_card" jdbcType="DATE" property="idCard"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id,
    username,
    realname,
    age,
    birthday,
    id_card,
    create_time,
    update_time
  </sql>
  <insert id="insertSelective" parameterType="com.akm.springboot3.web.demo.entity.DemoUser">
    <!--@mbg.generated-->
    insert into demo_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="username != null and username != ''">
        username,
      </if>
      <if test="realname != null and realname != ''">
        realname,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="idCard != null and idCard != ''">
        id_card,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null and username != ''">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null and realname != ''">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="idCard != null and idCard != ''">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.akm.springboot3.web.demo.entity.DemoUser">
    <!--@mbg.generated-->
    update demo_user
    <set>
      <if test="username != null and username != ''">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null and realname != ''">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="idCard != null and idCard != ''">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    update demo_user
    set del_flag = 1, update_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from demo_user
    where id = #{id,jdbcType=VARCHAR}
    and del_flag = 0
  </select>

  <!--auto generated by MybatisCodeHelper on 2019-08-10-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from demo_user
    where del_flag = 0
    <if test="id != null and id != ''">
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="username != null and username != ''">
      and username like CONCAT('%', #{username,jdbcType=VARCHAR}, '%')
    </if>
    <if test="realname != null and realname != ''">
      and realname like CONCAT('%', #{realname,jdbcType=VARCHAR}, '%')
    </if>
    <if test="age != null">
      and age = #{age,jdbcType=INTEGER}
    </if>
    <if test="birthday != null">
      and birthday = #{birthday,jdbcType=DATE}
    </if>
    <if test="birthdayBegin != null">
      and birthday >= #{birthdayBegin,jdbcType=BIGINT}
    </if>
    <if test="birthdayEnd != null">
      and birthday &lt;= #{birthdayEnd,jdbcType=BIGINT}
    </if>
    <if test="searchContent != null and searchContent != ''">
      and (
      username like CONCAT('%', #{searchContent,jdbcType=VARCHAR}, '%')
      or realname like CONCAT('%', #{searchContent,jdbcType=VARCHAR}, '%')
      )
    </if>
    order by create_time desc
  </select>

  <!--auto generated by MybatisCodeHelper on 2019-08-12-->
  <select id="findUsernameById" resultType="java.lang.String">
    select username
    from demo_user
    where del_flag = 0
    and id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getTotal" resultType="integer">
    select count(1)
    from demo_user
    where del_flag = 0
  </select>

  <insert id="batchInsert" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into demo_user
    (id, username, realname, age, birthday, id_card, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.username,jdbcType=VARCHAR}, #{item.realname,jdbcType=VARCHAR},
      #{item.age,jdbcType=TINYINT}, #{item.birthday,jdbcType=DATE}, #{item.idCard,jdbcType=VARCHAR}, now())
    </foreach>
  </insert>

  <!--根据用户名数组查询用户列表-->
  <select id="findByUserNameList" resultType="string">
    select username
    from demo_user
    where del_flag = 0
    and username in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>
</mapper>
