<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akm.springboot3.web.biz.mapper.BizAppVersionMapper">
  <resultMap id="BaseResultMap" type="com.akm.springboot3.web.biz.entity.BizAppVersion">
    <!--@mbg.generated-->
    <!--@Table biz_app_version-->
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="record_type" jdbcType="TINYINT" property="recordType"/>
    <result column="version" jdbcType="VARCHAR" property="version"/>
    <result column="note" jdbcType="VARCHAR" property="note"/>
    <result column="force" jdbcType="TINYINT" property="force"/>
    <result column="url" jdbcType="VARCHAR" property="url"/>
    <result column="hot" jdbcType="TINYINT" property="hot"/>
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, record_type, version, note, force, url, hot, create_user_id, create_time, del_flag
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete
    from biz_app_version
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.akm.springboot3.web.biz.entity.BizAppVersion">
    <!--@mbg.generated-->
    insert into biz_app_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        id,
      </if>
      <if test="recordType != null">
        record_type,
      </if>
      <if test="version != null and version != ''">
        version,
      </if>
      <if test="note != null and note != ''">
        note,
      </if>
      <if test="force != null">
        force,
      </if>
      <if test="url != null and url != ''">
        url,
      </if>
      <if test="hot != null">
        hot,
      </if>
      <if test="createUserId != null and createUserId != ''">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null">
        #{recordType,jdbcType=TINYINT},
      </if>
      <if test="version != null and version != ''">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="note != null and note != ''">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="force != null">
        #{force,jdbcType=TINYINT},
      </if>
      <if test="url != null and url != ''">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="hot != null">
        #{hot,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null and createUserId != ''">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <!--auto generated by MybatisCodeHelper on 2021-01-18-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from biz_app_version
    <where>
      del_flag = 0
      <if test="id != null and id != ''">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="recordType != null">
        and record_type = #{recordType,jdbcType=TINYINT}
      </if>
      <if test="version != null and version != ''">
        and version = #{version,jdbcType=VARCHAR}
      </if>
      <if test="note != null and note != ''">
        and note = #{note,jdbcType=VARCHAR}
      </if>
      <if test="force != null">
        and force = #{force,jdbcType=TINYINT}
      </if>
      <if test="url != null and url != ''">
        and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="hot != null">
        and hot = #{hot,jdbcType=TINYINT}
      </if>
      <if test="createUserId != null and createUserId != ''">
        and create_user_id = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="delFlag != null">
        and del_flag = #{delFlag,jdbcType=BOOLEAN}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="findNewVersionRecord" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM biz_app_version
    WHERE del_flag = 0
    AND record_type = #{recordType,jdbcType=TINYINT}
    AND create_time &gt; (SELECT create_time
    FROM biz_app_version
    WHERE record_type = #{recordType,jdbcType=TINYINT}
    AND version = #{version,jdbcType=VARCHAR})
    ORDER BY create_time DESC
  </select>
</mapper>
