<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akm.springboot3.web.biz.mapper.BizAttachmentMapper">
  <resultMap id="BaseResultMap" type="com.akm.springboot3.web.biz.entity.BizAttachment">
    <!--@mbg.generated-->
    <!--@Table biz_attachment-->
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="record_type" jdbcType="VARCHAR" property="recordType"/>
    <result column="record_id" jdbcType="VARCHAR" property="recordId"/>
    <result column="attachment_name" jdbcType="VARCHAR" property="attachmentName"/>
    <result column="attachment_url" jdbcType="VARCHAR" property="attachmentUrl"/>
    <result column="attachment_size" jdbcType="LONGVARCHAR" property="attachmentSize"/>
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id,
    record_type,
    record_id,
    attachment_name,
    attachment_url,
    attachment_size,
    create_user_id,
    create_time
  </sql>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into biz_attachment
    (id, record_type, record_id, attachment_name, attachment_url, attachment_size, create_user_id,
    create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.recordType,jdbcType=VARCHAR}, #{item.recordId,jdbcType=VARCHAR},
      #{item.attachmentName,jdbcType=VARCHAR}, #{item.attachmentUrl,jdbcType=VARCHAR},
      #{item.attachmentSize,jdbcType=LONGVARCHAR}, #{item.createUserId,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <!--auto generated by MybatisCodeHelper on 2020-12-31-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from biz_attachment
    <where>
      <if test="id != null and id != ''">
        and id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="recordId != null and recordId != ''">
        and record_id = #{recordId,jdbcType=VARCHAR}
      </if>
      <if test="recordType != null and recordType != ''">
        and record_type like CONCAT('%', #{recordType,jdbcType=VARCHAR}, '%')
      </if>
      <if test="attachmentName != null and attachmentName != ''">
        and attachment_name like CONCAT('%', #{attachmentName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="attachmentUrl != null and attachmentUrl != ''">
        and attachment_url like CONCAT('%', #{attachmentUrl,jdbcType=VARCHAR}, '%')
      </if>
      <if test="attachmentSize != null and attachmentSize != ''">
        and attachment_size = #{attachmentSize,jdbcType=LONGVARCHAR}
      </if>
      <if test="createUserId != null and createUserId != ''">
        and create_user_id = #{createUserId,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by create_time desc
  </select>

  <!--auto generated by MybatisCodeHelper on 2024-11-08-->
  <select id="findByRecordTypeAndRecordId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from biz_attachment
    where record_id = #{recordId,jdbcType=VARCHAR}
    <if test="recordType != null and recordType != ''">
      and record_type = #{recordType,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteByRecordTypeAndRecordId">
    delete
    from biz_attachment
    where record_id = #{recordId,jdbcType=VARCHAR}
    <if test="recordType != null and recordType != ''">
      and record_type = #{recordType,jdbcType=VARCHAR}
    </if>
  </delete>

  <delete id="batchDel">
    delete
    from biz_attachment
    where id in
    <foreach close=")" collection="idList" item="item" open="(" separator=", ">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <!--auto generated by MybatisCodeHelper on 2024-09-11-->
  <update id="updateById">
    update biz_attachment
    <set>
      <if test="id != null and id != ''">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="recordType != null and recordType != ''">
        record_type = #{recordType,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null and recordId != ''">
        record_id = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentName != null and attachmentName != ''">
        attachment_name = #{attachmentName,jdbcType=VARCHAR},
      </if>
      <if test="attachmentUrl != null and attachmentUrl != ''">
        attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSize != null and attachmentSize != ''">
        attachment_size = #{attachmentSize,jdbcType=LONGVARCHAR},
      </if>
      <if test="createUserId != null and createUserId != ''">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByIdList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from biz_attachment
    where id in
    <foreach close=")" collection="idList" item="item" open="(" separator=", ">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="findByRecordIdList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from biz_attachment
    where record_id in
    <foreach close=")" collection="idList" item="item" open="(" separator=", ">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>
</mapper>
