<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akm.springboot3.web.sys.mapper.SysRoleOrgMapper">
  <resultMap id="BaseResultMap" type="com.akm.springboot3.web.sys.entity.SysRoleOrg">
    <!--@mbg.generated-->
    <!--@Table sys_role_org-->
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
    <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id,
    role_id,
    org_id,
    create_user_id,
    create_time,
    update_user_id,
    update_time
  </sql>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sys_role_org
    (id, role_id, org_id, create_user_id, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.roleId,jdbcType=VARCHAR}, #{item.orgId,jdbcType=VARCHAR},
      #{item.createUserId,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <!--auto generated by MybatisCodeHelper on 2023-10-31-->
  <delete id="deleteByRoleId">
    delete
    from sys_role_org
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>

  <select id="getOrgListByRoleId" resultType="java.lang.String">
    select org_id
    from sys_role_org
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>

  <select id="findAll" resultType="com.akm.springboot3.web.sys.domain.CacheRoleOrg">
    select role_id roleId, org_id orgId
    from sys_role_org
  </select>
</mapper>
